*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}


html{
    width: 100%;
}
@font-face {
	font-family: 'Bebas';
	src: url(assets/BEBAS.ttf);
}
body{
    font-family: "游ゴシック体", "Yu Gothic", "YuGothic", sans-serif;
    font-size: 12px;
    padding: 0;
    width: 100%;
    /* 絶対値指定 */
    letter-spacing: 1.5px;
    /* 相対値指定 */
    letter-spacing: calc(1px - .0625em);
}

.box{
    margin-top: 10vh;
    clear: both;
    display: inline-block;
    width: 100%;
}
h1{
    font-family: 'Bebas';
    color: #3E3A39;
    font-size: 64px;
    letter-spacing: 0.2em;
    text-align: center;
    line-height: 1.4em;
}
h2{
    color: #3E3A39;
    font-size: 22px;
    letter-spacing: 0.2em;
    text-align: center;
    margin-bottom: 1em;
}

h3{
    text-align: center;
    letter-spacing: 4px;
    font-size: 12px;
}
p{
    line-height: 1.8em;
    letter-spacing: 0.2em;
    margin-left: 32px;
}
header{
    position: relative;
    height: 500px;
}

.entry{
    padding: 40px 20px;
    margin: 100px 0;
    position: relative;
    z-index: 1;
}


.entry-btn{
    position: absolute;
    top: 50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
    width: 80%;
    clear: both;
    text-align: center;
      display: inline-block;
      padding: 0.65em 2em;
    margin-top: 400px;
    color: #fff;
    background: #F5CD5F;
        text-decoration: none;
    letter-spacing: 0.8em;
    font-weight: bold;
    font-size: 40px;
     -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.entry-btn:hover{
    color: #F5CD5F;
    background: #fff;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

img{
    width: 100%;
}
.logo img{
    min-width: 400px;
    width: 32em;
    text-align: left;
}
header .logo{
    position: absolute;
    top: 540px;
    left: 40px;
}
header .logo p{
    font-size: 33px;
    letter-spacing: 0.64em;
    font-weight: bold;
    float: right;
    color: #3E3A39;
}
#top-image{
    width: 80vw;
    float: right;
    margin-top: 20px;
}

.intro{
    clear: both;
    margin: 460px 32px 0 32px;
    width: 100%;
    height: 50vh;
}
.intro img{
    width: 60vw;
    margin-bottom: -230px;
    margin-left: 32px;
}
.intro-message{
    background: #F8F7F5;
    padding: 20px;
    padding-top: 280px; 
    padding-bottom: 80px;
}
.intro-message p{
    font-size: 32px;
    line-height: 1.8em;
    letter-spacing: 0.14em;
    margin-left: 32px;
}
.intro-message span{
    color: #9B9B9B;
}

.about-contents{
    margin: 20px 0;   
}

.contents{
    background-image: url(assets/contents-image.jpg);
    min-height: 60vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vh;
    padding: 80px 0; 
    margin: 40px auto;
    text-align: center;
    content:"";
}

.contents h1,.contents h2, .contents h3{
    color: #fff;
}
.contents-content img{
    width: 80%;
    margin: 20px 0;
}
.contents-content{
/*    display: flex;*/
    padding: 0 auto;
}


.about-meetup{
    margin: 20px;
    width: 90%;
}
/*GUEST*/
.guest-01{
    padding: 20px; 
    margin: 20px;
    width: 100vw;
    position: relative;
}



.guest-02{
    padding: 20px; 
    margin: 20px;
    width: 100vw;
}
.guest-list{
    display: flex;
    background: #F8F7F5;
    margin: 40px 20px;
    padding: 40px ;
}

/*DETAIL*/
.detail{
    width: 100%;
}
.detail p{
    font-size: 18px;
    line-height: 1.4em;
}
.detail span{
    font-size: 16px;
}
.access-google-map{
    width: 100%;
    text-align: center;
}
.place-txt{
     margin: 32px 150px;   
}

/*MESSAGE*/
.message img{
    width: 100%;
}
footer{
    background: #f9f9f9;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 40px; 
    font-family: "futura-pt",sans-serif;
    font-size: 2em;
    letter-spacing: 0.18em;
    padding: 20px;
}

.share{
    text-align: center;
    margin-top: 100px;
}
.share p{
    font-size: 24px;
}
.socialIcon{
    margin: 16px;
    width: 100%;
}
.socialIcon img{
    width: 16%;
    padding: 20px;
    margin-bottom:20px;
}

/*button*/
.btn{
  border-radius: 12px;
}
.btn:hover, .btn:focus{
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  -webkit-animation: gelatine 0.5s 1;
          animation: gelatine 0.5s 1;
}

@-webkit-keyframes gelatine {
  from,to {
    -webkit-transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
  }
  from,to {
    -webkit-transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
  }
}
@keyframes gelatine {
  from,to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
  from,to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(0.9, 1.1);
    transform: scale(0.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, 0.9);
    transform: scale(1.1, 0.9);
  }
  75% {
    -webkit-transform: scale(0.95, 1.05);
    transform: scale(0.95, 1.05);
  }
}

/*レスポンシブ*/
  @media screen and (max-width: 700px) {
    }

    @media screen and (min-width: 500px) and (max-width: 999px) {
            /*　画面サイズ 500pxから999pxまで適用　*/

            /*.content {color: #green;}*/
    }

    /*PC*/
    @media screen and (min-width:1000px) {
    /*　画面サイズ 1000px以上から適用　*/
        header .logo{
            position: absolute;
            top: 400px;
            left: 40px;
        }
        .logo img {
            min-width: 580px;
            width: 32em;
            text-align: left;
        }
        #top-image{
            width: 60vw;
            float: right;
            margin-top: 20px;
        }
        header .logo p{
            font-size: 24px;
            letter-spacing: 0.64em;
            font-weight: bold;
            float: left;
            color: #3E3A39;
        }
        
        .entry{
            padding: 40px 20px;
            margin: 120px 0;
            position: relative;
        }


        .entry-btn{
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%);
            width: 40%;
            clear: both;
            text-align: center;
            display: inline-block;
            padding: 0.65em 2em;
            margin-top: 200px;
            color: #fff;
            background: #F5CD5F;
            text-decoration: none;
            letter-spacing: 0.8em;
            font-weight: bold;
            font-size: 24px;
             -webkit-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
        }

        .entry-btn:hover{
            color: #F5CD5F;
            background: #fff;
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }
        
        .intro{
            clear: both;
            margin: 320px 32px 0 32px;
            width: 100%;
            height: 50vh;
        }
        .intro img{
            width: 640px;
            margin-bottom: -230px;
            margin-left: 32px;
        }
        .intro-message p{
            font-size: 18px;
            line-height: 1.8em;
            letter-spacing: 0.14em;
            margin-left: 32px;
        }
        .contents{
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
/*            background-size: 100vh;*/
            padding: 80px 0; 
            margin: 40px auto;
            text-align: center;
            content:"";
        }

        .contents-content{
           display: flex;
            width: 800px;
            margin: 0 auto;
        }
        .contents-content img{
            width: 420px;
            margin: 20px;
            text-align: center;
        }
        .about-meetup{
            margin: 0 auto;
        }
        .about-meetup p{
            padding: 20px 0;
        }
        .meetup-slide img{
            width: 600px;
        }
        
        .about{
            margin-top: 100px;
            text-align: center;
            padding: 80px 0;
        }
        .message{
            text-align: center;
        }
    
        .message img{
            width: 50%;
        }
        
        .socialIcon{
            margin: 16px;
            width: 100%;
        }
        .socialIcon img{
            width: 80px;
            padding: 20px;
            margin-bottom:20px;
        }
        .share p{
            font-size: 18px;
        }
        .guest{
            position: relative;
            height: 100vh;
            margin: 120px 0;
            width: 100%;
        }
        .guest-01{
            width: 360px;
        }
        .guest-02{
            width: 360px;
        }
        .guest-list{
           position: absolute;
            left: 50%;
            top: 70%;
            -webkit-transform: translate(-50%, -50%);
           transform: translate(-50%, -50%);
        }

    }/*PC*/

